@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.App {
  text-align: center;
  background-color: #121212; /* Dark background color */
  color: #ffffff; /* Light text color */
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
}

.App-footer {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: auto;
}

.App-link {
  color: #61dafb;
}

.main-content {
  flex: 1;
}

.transactions-table {
  margin: 20px auto;
  text-align: center;
  border-collapse: collapse;
}

.transactions-table th, .transactions-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.custom-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px; 
  margin-bottom: 10px;
  margin-top: 10px;
}

.custom-button:hover {
  background-color: #0056b3;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* Space between cards */
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

.flex-item {
  background-color: #1e1e1e; /* Dark card background */
  border-radius: 0.5rem; /* Rounded corners */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  padding: 1rem;
  transition: transform 0.2s;
  flex: 1 1 calc(25% - 1rem); /* Adjust the width of the cards */
  max-width: calc(25% - 1rem); /* Ensure cards fit within the container */
}

.flex-item:hover {
  transform: translateY(-5px); /* Lift effect on hover */
}

.flex-item h3 {
  margin: 0 0 0.5rem 0;
}

.flex-item p {
  margin: 0;
}

@media (max-width: 1024px) {
  .flex-item {
    flex: 1 1 calc(33.33% - 1rem); /* Adjust for medium screens */
    max-width: calc(33.33% - 1rem);
  }
}

@media (max-width: 768px) {
  .flex-item {
    flex: 1 1 calc(50% - 1rem); /* Adjust for small screens */
    max-width: calc(50% - 1rem);
  }
}

@media (max-width: 640px) {
  .flex-item {
    flex: 1 1 calc(100% - 1rem); /* Adjust for extra small screens */
    max-width: calc(100% - 1rem);
  }
}

.new-envelope-form {
  background-color: #282c34;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  margin: 20px auto;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.new-envelope-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.new-envelope-form form div {
  margin-bottom: 15px;
}

.new-envelope-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: lighter;
}

.new-envelope-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.new-envelope-form input:focus {
  border-color: #61dafb;
  outline: none;
}

.new-envelope-form p {
  color: #ff4d4d;
  font-weight: normal;
}

.new-envelope-form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.new-envelope-form button:hover {
  background-color: #0056b3;
}

.new-transaction-form {
  background-color: #282c34;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  margin: 20px auto;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.new-transaction-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.new-transaction-form form div {
  margin-bottom: 15px;
}

.new-transaction-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: lighter;
}

.new-transaction-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.new-transaction-form input:focus {
  border-color: #61dafb;
  outline: none;
}

.new-transaction-form p {
  color: #ff4d4d;
  font-weight: normal;
}

.new-transaction-form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.new-transaction-form button:hover {
  background-color: #0056b3;
}